* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .p-5{
  padding:30px;
} */
input,textarea{
  height:45px;
  border:1px solid gray;
  width:100%;
  padding-left:20px;
  outline:none;
}
input:focus{
  outline: none;
  border:1px solid rgb(97, 97, 97);
}
textarea{
  height:100px;
  padding:15px 0 0 20px;
}

.page-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #001529d9, #00000062); /* Gradient background */
}
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-input:focus {
  border-color: #007BFF;
  outline: none;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
